body {
     color: deepskyblue;
     background : dodgerblue;
     margin: 0px;
     font-family: "Chakra Petch", sans-serif;
}

header {
     border-bottom: solid 2px rgb(11, 92, 199, 1);
     padding: 20px;
     font-size: 32px;
     color: rgb(11, 92, 199, 1);
}

section {
     background: turquoise;
     padding-bottom: 80px;
     padding-top: 80px;
     display: flex;
     justify-content: center;
}

.chamada-texto {
     margin-right: 5%;
}

h1 { 
     font-size: 40px;
}

p {
     font-size: 20px;
}
img {
     height: 45px;
}

.categoria-videos {
     display: flex;
     overflow-x: auto;
     gap: 5px;
}

.categoria {
     padding-left: 5px;
     padding-right: 5px;
}

.categoria-videos img {
     opacity: o.5;
     height: 45px;
}

.categoria-videos img:hover {
     opacity: 1.0;
     border: 1px solid rgb(194, 238, 240);
}

.categoria h2 {
     color: rgb(11, 92, 199, 1);
}